head {
    text-align: center;

}

.grailed {
    font-size: 26px;
    font-family: helvetica;
    text-align: center;
    }

img{ 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

body {
    text-align: center;
}